body {
    color: white; 
    background: linear-gradient(0deg,rgb(153, 129, 117), rgb(197, 178, 168));
    padding: 3%;
    }

h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
    }

  #foto {
    /* border-radius:100px; */
    float: left;
    padding: 10px;
    background-color: blueviolet;
  }

  .image-container {
    height: 184px;
  }

  .descricao {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left:20%;
    top: 20%;
  }


  #Unix { font-size: 15px;}

  div {
    /* border: 1px solid green; */
  }

  ul li:nth-child(odd) {
    background-color: aqua;
  }