.container {
    /* background-image: url('../Images//Sun.jpg'); */
    background-color: rgb(43, 15, 68);
    display: flex;
    margin: 30px;
    justify-content: space-around;
    padding: 10px;
    border-radius: 20px;
}

.div-1 {
    background: #FFFFFF;
    box-shadow: 0px 0px 26px rgba(68, 73, 85, 0.2);
    border-radius: 20px;
    opacity: 0.93;
    padding: 30px;
    width: 700px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-2 {
    background: #FFFFFF;
    box-shadow: 0px 0px 26px rgba(68, 73, 85, 0.2);
    border-radius: 20px;
    opacity: 0.93;
    padding: 30px;
    width: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}